<!DOCTYPE html>
<html>
    <head>
        <title>Student Meeting Scheduler App</title>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>         
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">        
    </head>
    <body>
        <div class="header">
            <img src="../images/miami-logo.jpg" style="text-align: left; margin-left: 10px" />
        </div>
        <div class="body">
            <h1 style="text-align:center">Student Meeting Scheduler App</h1>
            <div class="main-app">
                <div>
                    <p>Enter student banner ID: </p>
                    <input class="id-form" type="text" class="form-control">
                </div>
                <div class="schedule-table">
                    <table class="table table-bordered">
                        <thead class="thead-default">
                            <tr>
                                <th>Time</th>
                                <th>Monday</th>
                                <th>Tuesday</th>
                                <th>Wednesday</th>
                                <th>Thursday</th>
                                <th>Friday</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">8:00 a.m - 9:00 a.m.</th>
                                <td></td>
                                <td></td>
                                <td class="table-danger"></td>
                                <td></td>
                                <td class="table-danger"></td>
                            </tr>
                            <tr>
                                <th scope="row">9:00 a.m - 10:00 a.m.</th>
                                <td class="table-danger"></td>
                                <td></td>
                                <td class="table-danger"></td>
                                <td></td>
                                <td class="table-danger"></td>
                            </tr>
                            <tr>
                                <th scope="row">10:00 a.m - 11:00 a.m.</th>
                                <td></td>
                                <td class="table-danger"></td>
                                <td></td>
                                <td class="table-danger"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">11:00 a.m - 12:00 p.m.</th>
                                <td></td>
                                <td class="table-danger"></td>
                                <td></td>
                                <td class="table-danger"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">12:00 p.m. - 1:00 p.m.</th>
                                <td class="table-danger"></td>
                                <td class="table-danger"></td>
                                <td class="table-danger"></td>
                                <td class="table-danger"></td>
                                <td class="table-danger"></td>
                            </tr>
                            <tr>
                                <th scope="row">1:00 p.m. - 2:00 p.m.</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">2:00 p.m. - 3:00 p.m.</th>
                                <td class="table-danger"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="table-danger"></td>
                            </tr>
                            <tr>
                                <th scope="row">3:00 p.m. - 4:00 p.m.</th>
                                <td class="table-danger"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="table-danger"></td>
                            </tr>
                            <tr>
                                <th scope="row">4:00 p.m. - 5:00 p.m.</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>