<!DOCTYPE html>
<html>
  <head>
    <title>Student Meeting Scheduler App</title>
    <meta charset='utf-8' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css' />
    <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css' /> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <style>
    	.ui-timepicker-container {
    		z-index: 1 !important;
    	}
    </style>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 

	<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js'></script>
  </head>
  <body>
  	<!-- Sidebar -->           
    <div id="studentList" class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%" >
      <h3 class="w3-bar-item" style="background-color: #ba2e31; text-align: center; margin: 0; font-weight: bold">Display Students</h3>
       <div>
            <p>Enter student uniqueid: </p>
            <input id="uniqueid" type="text" class="form-control">
            <button onClick="getSchedule()">Submit</button>
        </div>
    </div>

    <div style="margin-left:20%; padding: 50px">
        <div class="header">
            <img src="/miami-logo.jpg" style="margin-left: 10px; text-align: right" />
        </div>
        <br/>
        <div class="body">
            <h1 style="text-align:center">Student Meeting Scheduler App</h1>

    		<!--Add buttons to initiate auth sequence and sign out-->
		    <button id="authorize-button" style="display: none;">Authorize</button>
		    <button id="signout-button" style="display: none;">Sign Out</button>

		    <p>Pick a date: <input type="text" id="datepicker"></p>
		    <p>Pick a time:
		    	<span>From: <input id="start-time"> To: <input id="end-time"></span></p>
		    <p>Title: <input type="text" id="title"></p>
		    <p>Description: <textarea id="description" row="5" col="50"></textarea></p>
		   	<p>Location: <input type="text" id="location"></p>

		    <button onClick="createCalendarEvent()">Create</button>
            <div class="main-app">               
                <div id='calendar'></div>
            </div>
        </div>
    </div>

    <!-- <p>Google Calendar API Quickstart</p>

    <div>
        <p>Enter student uniqueid: </p>
        <input id="uniqueid" type="text" class="form-control">
        <button onClick="getSchedule()">Submit</button>
    </div>

    <pre id="content"></pre>

    <div id='calendar'></div> -->

    <script>
    // 	$.get('/enrollments/STUDENT0.xml', function(xml){
    // 		console.log(xml);
    // 		//var xmlDoc = $.parseXML( xml );
    // 		//var $xml = $( xmlDoc );
    // 		//$xml.find("sectionResource");
    // 		$(xml).find('sectionResource').each(function(){
    // 			var sectionResource = $(this).text();
    // 			console.log(sectionResource);
    // 			// $.get(sectionResource, function(data){
    // 			// 	console.log(data);
    // 			// })

    // 			$.ajax({
				//     url: sectionResource,
				//     dataType: 'xml',
				//     success: function(data) { var $data = $($.parseXML(data)); }
				// });
    // 			// xmlDoc = $.parseXML(sectionResource);
    // 			// console.log(xmlDoc);
    // 		})
    // 	})
    	var calendarId;
    	var selectedDate, selectedStartTime, selectedEndTime;
    	var attendees = [];
	  	$( "#datepicker" ).datepicker({
		  	onSelect: function(date){
		  		selectedDate = date;
		  		$('#calendar').fullCalendar('gotoDate', new Date(date));
		  		updateInterval();
		  	}
	  	});

	  	$('#start-time').timepicker({
		    timeFormat: 'h:mm p',
		    interval: 30,
		    minTime: '9',
		    maxTime: '5:00pm',
		    startTime: '9:00',
		    dynamic: false,
		    dropdown: true,
		    scrollbar: true,
		    change: function(time){
		    	selectedStartTime = moment(time).format("h:mm:ss a");
		    	updateInterval();
		    }
		});

		$('#end-time').timepicker({
		    timeFormat: 'h:mm p',
		    interval: 30,
		    minTime: '9',
		    maxTime: '5:00pm',
		    startTime: '9:00',
		    dynamic: false,
		    dropdown: true,
		    scrollbar: true,
		    change: function(time){
		    	selectedEndTime = moment(time).format("h:mm:ss a");
		    	updateInterval();
		    }
		});

		function updateInterval(){
			if(selectedDate && selectedStartTime && selectedEndTime){
				var start = moment(selectedDate + " " + selectedStartTime);
				var end = moment(selectedDate + " " + selectedEndTime);
				$('#calendar').fullCalendar('select', start, end);
			}
		}

		$('#calendar').fullCalendar({
		      // calendar properties
		      defaultView: 'agendaWeek',
		      minTime: "09:00:00",
		      businessHours: true,
		      header: {
		      	left: 'prev,next today',
		        center: 'title',
		        right: 'agendaWeek,agendaDay,listWeek'
		      },
		      timezone: "local",
		      navLinks: true, // can click day/week names to navigate views
		      eventLimit: true, // allow "more" link when too many events
		      selectable: true,
		      unselectAuto: false,
		      selectHelper: true,
		      selectOverlap: false,
		      selectConstraint: "businessHours",
		      weekends: false,
		      select: updateInput		      
		})

		function updateInput(startDate, endDate){
			// alert('selected ' + startDate.format() + ' to ' + endDate.format());
			// // selectedDate = startDate.format("mm/dd/yyyy");
			// // $( "#datepicker" ).datepicker("setDate", selectedDate);
			//  selectedStartTime = moment(startDate).format("h:mm:ss a");
			//  selectedEndTime = moment(endDate).format("h:mm:ss a");
			//  console.log(selectedStartTime, selectedEndTime);
		}

    	function getSchedule() {
    		var uniqueid = $("#uniqueid").val();

    		if($('#calendar').fullCalendar('getEventSourceById', uniqueid)){
    			alert("This student's schedule is already in the calendar!");
    		}
    		else{
    			var startDate = moment().toISOString();
    			var endDate = moment().add(30, 'days').toISOString();
    			var access_token =  gapi.auth.getToken().access_token;
				var request = gapi.client.request({
				   'path': '/calendar/v3/freeBusy',
				   'method': 'POST',
				   'headers': {
					   'Content-Type': 'application/json',
					   'Authorization': 'Bearer ' + access_token,             
				   },
				   'body':{
					   "items": [
								    {
								      "id": uniqueid+"@miamioh.edu"
								    }
								],
								"timeMin": startDate,
								"timeMax": endDate
				   }
				});
				request.execute(function(resp) { 
				   if (!resp.error) {
						var events = resp.calendars[uniqueid+'@miamioh.edu'].busy.map(function(event){
							event.title = uniqueid;
							return event; 
						})
						console.log(events);
						var color = randomColor();
						if(events.length > 0){
							var eventSource = {
								id: uniqueid,
								events: events,
								color: color
							}
							$('#calendar').fullCalendar('addEventSource', eventSource);
						}

						$("#studentList").append(`
	                    	<div id="`+uniqueid+`" style="color: '#fff'; background-color: `+color+`">
		                        <button class="w3-button w3-block w3-left-align">`+uniqueid + ` (` + events.length + `)</button>
		                        <div id="`+uniqueid+`-acc" class="w3-bar-block w3-hide w3-white w3-card-4">
		                            <div id="monday-acc">Monday</div>
		                            <div id="tuesday-acc">Tuesday</div>
		                            <div id="wednesday-acc">Wednesday</div>
		                            <div id="thursday-acc">Thursday</div>
		                            <div id="friday-acc">Friday</div>
		                            <button onclick="remove('`+uniqueid+`')">Remove</button>
		                        </div>   
		                     </div>
	                    `)		

	                    attendees.push({email: uniqueid + "@miamioh.edu"});										
				   }else{
						appendPre("Error: " + resp.error.message);
				   }
				});
    		}    		
    	}

    	function createCalendarEvent() {
    		if(selectedDate && selectedStartTime && selectedEndTime){
	    		var start = moment(selectedDate + " " + selectedStartTime);
				var end = moment(selectedDate + " " + selectedEndTime);
	    		var event = {
				    "start": {
					    "dateTime": start
					 },
					"end": {
					    "dateTime": end
					 },
					 "attendees": attendees,
					 "description": $("#description").val(),
					 "summary": $("#title").val(),
					 "location": $("#location").val()
				}

				var request = gapi.client.calendar.events.insert({
				  'calendarId': 'primary',
				  'sendNotifications': true,
				  'resource': event
				});
				request.execute(function(event) {
					console.log(event);
				  alert('Event created: ' + event.htmlLink);
				});
    		}
    		else alert("You haven't select a time!");
    	}

    	function randomColor(){
    		return '#' + (~~(Math.random() * 16777215)).toString(16);
    	}
	</script>

    <script type="text/javascript">
      // Client ID and API key from the Developer Console
      var CLIENT_ID = '1002154643494-imreglclqb5fjrobontuhnkltmcqvi3r.apps.googleusercontent.com';
      var API_KEY = 'AIzaSyA_TbJ7SOHLhTp8wUnl_Mhz4Pd6gsdHcuw';

      // Array of API discovery doc URLs for APIs used by the quickstart
      var DISCOVERY_DOCS = ["https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest"];

      // Authorization scopes required by the API; multiple scopes can be
      // included, separated by spaces.
      var SCOPES = "https://www.googleapis.com/auth/calendar";

      var authorizeButton = document.getElementById('authorize-button');
      var signoutButton = document.getElementById('signout-button');

      /**
       *  On load, called to load the auth2 library and API client library.
       */
      function handleClientLoad() {
        gapi.load('client:auth2', initClient);
      }

      /**
       *  Initializes the API client library and sets up sign-in state
       *  listeners.
       */
      function initClient() {
        gapi.client.init({
          apiKey: API_KEY,
          clientId: CLIENT_ID,
          discoveryDocs: DISCOVERY_DOCS,
          scope: SCOPES
        }).then(function () {
          // Listen for sign-in state changes.
          gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);

          // Handle the initial sign-in state.
          updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
          authorizeButton.onclick = handleAuthClick;
          signoutButton.onclick = handleSignoutClick;
        }, function(error) {
		  console.log(error);
		});
      }

      /**
       *  Called when the signed in status changes, to update the UI
       *  appropriately. After a sign-in, the API is called.
       */
      function updateSigninStatus(isSignedIn) {
        if (isSignedIn) {
          authorizeButton.style.display = 'none';
          signoutButton.style.display = 'block';
          listUpcomingEvents();
        } else {
          authorizeButton.style.display = 'block';
          signoutButton.style.display = 'none';
        }
      }

      /**
       *  Sign in the user upon button click.
       */
      function handleAuthClick(event) {
        gapi.auth2.getAuthInstance().signIn();
      }

      /**
       *  Sign out the user upon button click.
       */
      function handleSignoutClick(event) {
        gapi.auth2.getAuthInstance().signOut();
      }

      /**
       * Print the summary and start datetime/date of the next ten events in
       * the authorized user's calendar. If no events are found an
       * appropriate message is printed.
       */
      function listUpcomingEvents() {
        gapi.client.calendar.events.list({
          'calendarId': 'primary',
          'timeMin': (new Date()).toISOString(),
          'showDeleted': false,
          'singleEvents': true,
          'maxResults': 10,
          'orderBy': 'startTime'
        }).then(function(response) {
          var events = response.result.items;
          console.log(events);

          events = events.map(function(event) {
          	var result = {};
          	result.title = event.summary;
          	result.start = event.start.dateTime;
          	result.end = event.end.dateTime;
          	return result;
          })
          console.log(events);
          $('#calendar').fullCalendar('addEventSource', events);
        });        
      }
    </script>

    <script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
  </body>
</html>
